html {
    font-size: 10px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    width: 80%;
    max-width: 700px;
    margin: 20px auto;
    border: 20px solid #bdc3c7;
    padding: 20px;
}

.date {
    font-size: 1.6rem;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #2c3e50;
}

.quote {
    border-left: solid #bdc3c7 5px;
    padding-left: 5px;
    color: #64686b;
    font-weight: 200;
    letter-spacing: 1px;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
}

.post {
    margin-bottom: 20px;
}